/* -------------------------------------------------
    Version
   ------------------------------------------------- */

.el {
  background: #eee;
  display: inline-flex;
  border-radius: 4px;
  font-size: 12px;
  font-weight: normal;
  padding: 0 .5em;
  text-transform: none;
  height: 18px;
  align-items: center;
}

