/* -------------------------------------------------
    Page styles
   ------------------------------------------------- */

html {
  font-family: Tahoma, sans-serif;
  font-size: 13px;
}

.contents {
  width: 960px;
  margin: 0 auto;
  padding: 1px 0;

  article {
    margin: 60px 0 30px;
  }
}

