/* -------------------------------------------------
    Home page
   ------------------------------------------------- */

.el {

}

.dpHolder {
  padding: 16px 0;
  text-align: center;
}

.promoHeader {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;

  h1 {
    font-size: 48px;
    text-transform: uppercase;
  }

  strong {
    font-weight: normal;
  }
}
