/* -------------------------------------------------
    Param
   ------------------------------------------------- */

.el {

}

.list {
  .el {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.paramRow {
  display: flex;
  align-items: center;
}

.type {
  background: #efefef;
  display: inline-flex;
  padding: 0 3px;
  border-radius: 4px;
}

.paramName {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: .5em;
}

.defaultValue {
  margin-left: .5em;
}

.content {

}

