include mixins/example
include mixins/example-content
include mixins/example-code
include mixins/example-inline
include mixins/param
include mixins/param-header

doctype html
html
	head
		title Air Datepicker
		meta(charset='UTF-8')
		link(href='page/css/style.css', rel='stylesheet', type='text/css')
		link(href='page/css/github-gist.css', rel='stylesheet', type='text/css')
		link(href='dist/css/datepicker.min.css', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500&subset=latin,cyrillic', rel='stylesheet', type='text/css')
		script(src='vendor/jquery/dist/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js')
		script(src='dist/js/datepicker.min.js')
		script(src='dist/js/i18n/datepicker.en.js')

	body
		div.wrapper
			main.main(role='main')
				.container
					block content

		script.
			var $code = $('code');
			$code.each(function (i, el) {
				hljs.highlightBlock(el);
			})

