/* -------------------------------------------------
    Global styles
   ------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base-color: #333;

    --container-offset: 16px;
    --container-max-width: 1200px;
}
