/* -------------------------------------------------
    Note
   ------------------------------------------------- */

.el {
  background: var(--color-accent-almost-transparent);
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  word-break: break-word;
}

