$dayCellSize: 32px;
$datepickerWidth: 232px;
$datepickerMinBodyHeight: 170px;
$datepickerBorderRadius: 2px;
$datepickerPadding: 2px;

$fontFamily: Tahoma;
$fontSize: 14px;

$yearsPerRow: 4;
$textColor: (
  common: #4a4a4a,
  dayNames: #f5a33a,
);

$navigationHeight: 32px;
$navigationButtonsOffset: 1px;

$pointerSize: 10px;
$pointerOffset: 8px;

// Colors
$colorGrey: #ddd;
$colorAnotherMonth: #ddd;
$colorCellHover: #eee;
$colorCellCurrent: #60C4F5;
$colorCellSelected: skyblue;
$colorCellWeekend: '';
$borderColor: $colorGrey;
$bgButton: #f2f2f2;
$bgButtonHover: darken($bgButton, 3);

// Transitions
$transitionSpeed: .3s;
$transitionEase: ease;
$transitionOffset: 8px;

// Objects
%otherMonth {
  color: $colorAnotherMonth;
  font-size: .9em;

  &.-selected- {
    color: #fff;
    background: lighten($colorCellSelected, 20%);
  }

  &:empty {
    background: none;
    border: none;
  }
}