@import "datepicker-config";

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.datepicker--nav {
  display: flex;
  justify-content: space-between;
  padding: $datepickerPadding;
  height: $navigationHeight;
}

.datepicker--nav-title,
.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.datepicker--nav-action {
  width: $dayCellSize;
  border-radius: $datepickerBorderRadius;
  user-select: none;

  &:hover {
    background: $colorCellHover;
  }

  &.-disabled- {
    visibility: hidden;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  path {
    fill: none;
    stroke: #bdbdbd;
    stroke-width: 2px;
  }
}

.datepicker--nav-title {
  border-radius: $datepickerBorderRadius;
  padding: 0 8px;

  &:hover {
    background: $colorCellHover;
  }

  &.-disabled- {
    cursor: default;
    background: none;
  }
}

//  Buttons
// -------------------------------------------------

.datepicker--buttons {
  display: flex;
  margin: 0 $navigationButtonsOffset $datepickerPadding;
}

.datepicker--button {
  background: $bgButton;
  cursor: pointer;
  border-radius: $datepickerBorderRadius;
  margin: 0 $navigationButtonsOffset;
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;

  &:hover {
    background: $bgButtonHover;
  }
}