@import "datepicker-config";

/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */

$rangeTrackHeight: 1px;
$rangeTrackBg: #dedede;
$rangeThumbSize: 12px;
$rangeThumbBg: #dedede;

@mixin thumb {
  box-sizing: border-box;
  height: $rangeThumbSize;
  width: $rangeThumbSize;
  border-radius: 3px;
  border: 1px solid $rangeTrackBg;
  background: #fff;
  margin-top: -$rangeThumbSize/2;
  cursor: pointer;

  transition: background .2s;
}

.datepicker--time {
  display: flex;
  align-items: center;

  padding: 0 $datepickerPadding $datepickerPadding;
  position: relative;
}

.datepicker--time-sliders {
  flex: 0 1 138px;
  order: 2;
}

.datepicker--time-label {
  display: none;
  font-size: 12px;
}

.datepicker--time-current {
  font-size: 16px;
  flex: 1;
  text-align: center;
}

.datepicker--time-row {
  display: flex;
  align-items: center;
  font-size: 11px;
  height: 24px;
  background: linear-gradient(to right,$rangeTrackBg, $rangeTrackBg) left 50%/100% $rangeTrackHeight no-repeat;

  input[type='range'] {
    background: none;
    cursor: pointer;
    flex: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    &::-ms-tooltip {
      display: none;
    }

    &:hover {
      &::-webkit-slider-thumb {
        border-color: darken($rangeTrackBg, 15);
      }
    }

    &:focus {
      outline: none;

      &::-webkit-slider-thumb {
        background: map_get($bg, selected);
        border-color: map_get($bg, selected);
      }
    }

    //  Thumb
    // -------------------------------------------------

    &::-webkit-slider-thumb {
      @include thumb;
    }

    &::-moz-range-thumb {
      @include thumb;
    }

    &::-ms-thumb {
      @include thumb;
    }

    //  Track
    // -------------------------------------------------
    &::-webkit-slider-runnable-track {
      height: $rangeTrackHeight;
      cursor: pointer;
      background: transparent;
    }

    &::-moz-range-track {
      height: $rangeTrackHeight;
      cursor: pointer;
      background: transparent;
    }

    &::-ms-track {
      border: none;
      height: $rangeThumbSize;
      cursor: pointer;
      color: transparent;
      background: transparent;
    }

    &::-ms-fill-lower {
      background: transparent;
    }
    &:focus::-ms-fill-lower {

    }
    &::-ms-fill-upper {
      background: transparent;
    }
    &:focus::-ms-fill-upper {

    }
  }
  span {
    padding: 0 12px;
  }
}