@import "datepicker-config";

/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */

.datepicker--time {
  padding: $datepickerPadding;
  position: relative;
}

.datepicker--time-label {
  display: block;
  font-size: 12px;
}

.datepicker--time-current {
  font-size: 12px;
  position: absolute;
  right: $datepickerPadding;
}

.datepicker--time-row {
  display: flex;
  align-items: center;
  font-size: 11px;

  input[type='range'] {
    flex: 1;
  }

  span {
    padding: 0 12px;
  }
}