@import "datepicker-config";

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */

.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--cell {
  border-radius: $datepickerBorderRadius;
  color: $textColor;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: $dayCellSize;
  height: $dayCellSize;
  z-index: 1;

  &:hover {
    background: $colorCellHover;
  }

  &.-current- {
    color: $colorCellCurrent;

    &:hover {
      background: rgba($colorCellCurrent, .05);
    }
  }

  &.-disabled- {
    cursor: default;
    color: $colorGrey;
    background: none;
  }

  &.-selected- {
    color: #fff;
    background: $colorCellSelected;

    &.-current- {
      color: #fff;
      background: $colorCellSelected;
    }
  }
}

//  Day cell
// -------------------------------------------------

.datepicker--cell-day {
  border-radius: 50%;
  width: (100/7)#{'%'};

  &.-other-month- {
    @extend %otherMonth;
  }
}


//  Months
// -------------------------------------------------

.datepicker--months {}

//  Month cells
// -------------------------

.datepicker--cell-month {
  width: 33.33%;
  height: 40px;
}

//  Years
// -------------------------------------------------

.datepicker--years {}

//  Month cells
// -------------------------

.datepicker--cell-year {
  width: 100% / $yearsPerRow;
  height: 40px;

  &.-other-decade- {
    @extend %otherMonth;
  }
}