@import "datepicker-config";

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */

.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;
}

.datepicker {
  background: #fff;
  border: 1px solid $colorGrey;
  border-radius: $datepickerBorderRadius;
  box-sizing: content-box;
  width: $datepickerWidth;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity $transitionSpeed $transitionEase, transform $transitionSpeed $transitionEase, left 0s $transitionSpeed;

  &.-from-top- {
    transform: translateY(-$transitionOffset);
  }
  &.-from-right- {
    transform: translateX($transitionOffset);
  }
  &.-from-bottom- {
    transform: translateY($transitionOffset);
  }
  &.-from-left- {
    transform: translateX(-$transitionOffset);
  }


  &.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity $transitionSpeed $transitionEase, transform $transitionSpeed $transitionEase, left 0s 0s;
  }
}

.datepicker-inline {
  .datepicker {
    position: static;
    left: auto;
    right: auto;
    opacity: 1;
    transform: none;
  }
}

.datepicker--content {
  padding: $datepickerPadding;
}

//  Body
// -------------------------------------------------

.datepicker--body {
  display: none;

  &.active {
    display: block;
  }
}


//  Day names
// -------------------------

.datepicker--days-names {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--day-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: $dayCellSize;
  height: $dayCellSize;
  text-align: center;
}

