@import "datepicker-config";

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */

.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;
}

.datepicker {
  border: 1px solid $colorGrey;
  border-radius: $datepickerBorderRadius;
  box-sizing: content-box;
  width: $datepickerWidth;
  position: absolute;
  left: -100000px;
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

.datepicker--content {
  padding: $datepickerPadding;
}

//  Body
// -------------------------------------------------

.datepicker--body {
  display: none;

  &.active {
    display: block;
  }
}


//  Day names
// -------------------------

.datepicker--days-names {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--day-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: $dayCellSize;
  height: $dayCellSize;
  text-align: center;
}

