@import "datepicker-config";

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.datepicker--nav {
  border-bottom: 1px solid $colorGrey;
  display: flex;
  justify-content: space-between;
  height: $navigationHeight;
}

.datepicker--nav-title,
.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.datepicker--nav-action {
  width: $dayCellSize;

  &:hover {
    background: $colorCellHover;
  }

  &.-disabled- {
    visibility: hidden;
  }
}

.datepicker--nav-title {
  align-self: center;
  padding: 4px;
  border-radius: $datepickerBorderRadius;

  &:hover {
    background: $colorCellHover;
  }

  &.-disabled- {
    cursor: default;
    background: none;
  }
}