$dayCellSize: 32px;
$datepickerWidth: 7 * $dayCellSize;

$navigationHeight: 32px;

// Colors
$colorGrey: #ddd;

$colorAnotherMonth: #ddd;
$colorCellHover: '';
$colorCellCurrent: '';
$colorCellSelected: '';
$colorCellWeekend: '';