$dayCellSize: 32px;
$datepickerWidth: 7 * $dayCellSize;
$datepickerBorderRadius: 2px;
$yearsPerRow: 4;

$navigationHeight: 32px;

// Colors
$colorGrey: #ddd;

$colorAnotherMonth: #ddd;
$colorCellHover: #eee;
$colorCellCurrent: '';
$colorCellSelected: '';
$colorCellWeekend: '';