$dayCellSize: 32px;
$datepickerWidth: 7 * $dayCellSize;
$datepickerBorderRadius: 2px;
$datepickerPadding: 2px;
$yearsPerRow: 4;
$textColor: #333;

$navigationHeight: 32px;
$navigationButtonsOffset: 2px;

// Colors
$colorGrey: #ddd;

$colorAnotherMonth: #ddd;
$colorCellHover: #eee;
$colorCellCurrent: #60C4F5;
$colorCellSelected: skyblue;
$colorCellWeekend: '';
$bgButton: #f2f2f2;
$bgButtonHover: darken($bgButton, 3);

// Objects
%otherMonth {
  color: $colorAnotherMonth;
  font-size: .9em;

  &.-selected- {
    color: #fff;
    background: lighten($colorCellSelected, 20%);
  }

  &:empty {
    background: none;
    border: none;
  }
}