/* -------------------------------------------------
    Input
   ------------------------------------------------- */

.el {
  height: var(--ui-height);
  border-radius: var(--ui-border-radius);
  font-family: var(--base-font-family);
  font-size: var(--ui-font-size);
  border: 1px solid var(--ui-border-color);
  width: 256px;
  transition: all var(--t-duration) var(--t-easing);
  padding: 0 .7em;

  &:hover {
    background: var(--ui-bg-hover);
  }

  &:focus {
    background: #fff;
    border-color: var(--ui-border-color-focus);
    outline: none;
  }
}

