include mixins/example
include mixins/example-content
include mixins/example-code
include mixins/example-inline
include mixins/param
include mixins/param-header

doctype html
html
	head
		title Air Datepicker
		meta(charset='UTF-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href='css/style.css', rel='stylesheet', type='text/css')
		link(href='css/github-gist.css', rel='stylesheet', type='text/css')
		link(href='../dist/css/datepicker.min.css', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500&subset=latin,cyrillic', rel='stylesheet', type='text/css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
		script(src='../dist/js/datepicker.js')
		script(src='../dist/js/i18n/datepicker.en.js')
		script(src='js/logger.js')
	body
		div.wrapper
			main.main(role='main')
				.container
					.buttons
						a(aria-label="Star t1m0n/air-datepicker on GitHub" data-count-aria-label="# stargazers on GitHub" data-count-api="/repos/t1m0n/air-datepicker#stargazers_count" data-count-href="/t1m0n/air-datepicker/stargazers" data-icon="octicon-star" href="https://github.com/t1m0n/air-datepicker" class="github-button") Star
					block content

		script(src='js/navigation.js')
		script.
			var $code = $('code');
			$code.each(function (i, el) {
				hljs.highlightBlock(el);
			})

			navigation.init();

		script(async defer id="github-bjs" src="https://buttons.github.io/buttons.js")