mixin param-header(name, type, defaults)
	header.param-header
		h3= name
		p.param-header--row
			span.param-header--label Тип:
			+example-inline(type, 'js')
		p.param-header--row
			span.param-header--label Значение по умполчанию:
			if defaults
				+example-inline(defaults, 'js')
			if block
				block
