/* -------------------------------------------------
    Link
   ------------------------------------------------- */

.el {
  color: var(--link-color);
  text-decoration: none;
  position: relative;
  display: inline-flex;

  &:after {
    content: '';
    position: absolute;
    height: 1px;
    top: 100%;
    width: 100%;
    background: currentColor;
    opacity: .2;
    transition: all var(--t-duration) var(--t-easing);
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

