@import "public/mixins";

/* -------------------------------------------------
    Container
   ------------------------------------------------- */

.el {
  max-width: var(--container-max-width);
  min-width: var(--container-min-width);
  padding: 0 var(--container-offset);
  margin: 0 auto;
  width: 100%;

  @include onMobile {
    width: 100vw;
  };
}

