/* -------------------------------------------------
    Sub section
   ------------------------------------------------- */

.el {
  margin-bottom: var(--section-offset);
}

.title {
  font-size: 25px;
  margin-bottom: .5em;
  color: #000;
  font-weight: bold;
}

.titlePrimary {

}

.isPrimary {

}

