/* -------------------------------------------------
    Sub section
   ------------------------------------------------- */

.el {
  margin-bottom: var(--section-offset);

  p {
    margin-bottom: .7em;
  }
}

.title {
  font-size: 25px;
  margin-bottom: .5em;
  color: #000;
  font-weight: bold;
}

.subTitle {
  margin-bottom: .2em;
}

.titlePrimary {

}

.isPrimary {

}

