/* -------------------------------------------------
    Header
   ------------------------------------------------- */

.el {
  height: var(--header-height);
  background: #fff;
  box-shadow: 0 0 14px rgba(0, 0, 0, .1);
  margin-bottom: var(--header-offset);
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: var(--content-nav-col-width) 1fr;
  grid-column-gap: var(--content-col-gap);
  align-items: center;
}

.logo {
  text-transform: uppercase;
  color: var(--base-color);
  text-decoration: none;
  font-size: 24px;
}


.nav {
  height: 100%;
  display: flex;
  align-items: center;
  grid-column-gap: 16px;
}

.navItem {
  color: var(--link-color);
  text-decoration: none;
  position: relative;
  height: 100%;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  margin-right: .7em;
  line-height: 1;
  
  &:hover {
    color: var(--link-color-hover);
  }
}

.navItemActive {
  color: var(--base-color);
  pointer-events: none;
}
