/* -------------------------------------------------
    Content grid
   ------------------------------------------------- */

.el {
  display: grid;
  grid-template-columns: 256px 1fr;
  grid-column-gap: 32px;
}

