/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */

.air-datepicker {
  background: var(--adp-background-color);
  border: 1px solid var(--adp-border-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
  border-radius: var(--adp-border-radius);
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, max-content);
  grid-template-areas: var(--adp-grid-areas);
  font-family: var(--adp-font-family), sans-serif;
  font-size: var(--adp-font-size);
  color: var(--adp-color);
  width: var(--adp-width);
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition:
    opacity var(--adp-transition-duration) var(--adp-transition-ease),
    transform var(--adp-transition-duration) var(--adp-transition-ease),
    left 0s var(--adp-transition-duration);
  z-index: var(--adp-z-index);

  &.-from-top- {
    transform: translateY(calc(var(--adp-transition-offset) * -1));
  }
  &.-from-right- {
    transform: translateX(var(--adp-transition-offset));
  }
  &.-from-bottom- {
    transform: translateY(var(--adp-transition-offset));
  }
  &.-from-left- {
    transform: translateX(calc(var(--adp-transition-offset) * -1));
  }

  &.-active- {
    opacity: 1;
    transform: translate(0);
    transition:
      opacity var(--adp-transition-duration) var(--adp-transition-ease),
      transform var(--adp-transition-duration) var(--adp-transition-ease),
      left 0s 0s;
  }

  &.-inline- {
    border-color: var(--adp-border-color-inline);
    box-shadow: none;
    position: static;
    left: auto;
    right: auto;
    opacity: 1;
    transform: none;

    .air-datepicker--pointer {
      display: none;
    }
  }
}

.air-datepicker-global-container {
  position: absolute;
  left: 0;
  top: 0;
}

.air-datepicker--pointer {
  --pointer-half-size: calc(var(--adp-pointer-size) / 2);

  position: absolute;
  background: #fff;
  border-top: 1px solid var(--adp-border-color-inline);
  border-right: 1px solid var(--adp-border-color-inline);
  width: var(--adp-pointer-size);
  height: var(--adp-pointer-size);
  z-index: -1;

  //  Main axis
  // -------------------------

  .-top-left- &, .-top-center- &, .-top-right- & {
    top: calc(100% - var(--pointer-half-size));
    transform: rotate(135deg);
  }

  .-right-top- &, .-right-center- &, .-right-bottom- & {
    right: calc(100% - var(--pointer-half-size));
    transform: rotate(225deg);
  }

  .-bottom-left- &, .-bottom-center- &, .-bottom-right- & {
    bottom: calc(100% - var(--pointer-half-size));
    transform: rotate(315deg);
  }

  .-left-top- &, .-left-center- &, .-left-bottom- & {
    left: calc(100% - var(--pointer-half-size));
    transform: rotate(45deg);
  }

  //  Secondary axis
  // -------------------------

  .-top-left- &, .-bottom-left- & {
    left: var(--adp-pointer-offset);
  }
  .-top-right- &, .-bottom-right- & {
    right: var(--adp-pointer-offset);
  }
  .-top-center- &, .-bottom-center- & {
    left: calc(50% - var(--adp-pointer-size) / 2);
  }

  .-left-top- &, .-right-top- & {
    top: var(--adp-pointer-offset);
  }
  .-left-bottom- &, .-right-bottom- & {
    bottom: var(--adp-pointer-offset);
  }
  .-left-center- &, .-right-center- & {
    top: calc(50% - var(--adp-pointer-size) / 2);
  }

}


.air-datepicker--navigation {
  grid-area: nav;
}

.air-datepicker--content {
  box-sizing: content-box;
  padding: var(--adp-padding);
  grid-area: body;

  .-only-timepicker- & {
    display: none;
  }
}

.air-datepicker--time {
  grid-area: timepicker;
}

.air-datepicker--buttons {
  grid-area: buttons;
}

.air-datepicker--buttons,
.air-datepicker--time {
  padding: var(--adp-padding);
  border-top: 1px solid var(--adp-border-color-inner);
}
