/* -------------------------------------------------
    Datepicker vars
   ------------------------------------------------- */

:root {
  --adp-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --adp-font-size: 14px;
  --adp-width: 246px; // Day cell width will be equal to 34px
  --adp-z-index: 100;
  --adp-padding: 4px;

  --adp-transition-duration: .3s;
  --adp-transition-ease: ease-out;

  --adp-background-color: #fff;
  --adp-background-color-hover: #f0f0f0;
  --adp-background-color-active: #eaeaea;
  --adp-background-color-in-range: rgba(92, 196, 239, .1);
  --adp-background-color-in-range-focused: rgba(92, 196, 239, .2);
  --adp-background-color-selected-other-month-focused: #8ad5f4;
  --adp-background-color-selected-other-month: #a2ddf6;

  --adp-color: #4a4a4a;
  --adp-color-current-date: #4eb5e6;
  --adp-color-other-month: #dedede;
  --adp-color-disabled: #aeaeae;
  --adp-color-disabled-in-range: #939393;
  --adp-color-other-month-hover: #c5c5c5;

  --adp-border-color: #dbdbdb;
  --adp-border-color-inline: #d7d7d7;

  --adp-nav-border-color: #efefef;
  --adp-nav-height: 32px;
  --adp-nav-arrow-color: #9c9c9c;
  --adp-nav-color-secondary: #9c9c9c;

  --adp-day-name-color: #ff9a19;

  --adp-day-cell-width: 1fr;
  --adp-day-cell-height: 32px;
  --adp-month-cell-height: 42px;
  --adp-year-cell-height: 56px;


  --adp-border-radius: 4px;
  --adp-cell-border-radius: 4px;
  --adp-cell-background-color-selected: #5cc4ef;
  --adp-cell-background-color-selected-hover: #45bced;
  --adp-cell-background-color-in-range: rgba(92, 196, 239, 0.1);
  --adp-cell-background-color-in-range-hover: rgba(92, 196, 239, 0.2);
  --adp-cell-border-color-in-range: var(--adp-cell-background-color-selected);
}
