/* -------------------------------------------------
    Datepicker cell
   ------------------------------------------------- */

.datepicker-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
