/* -------------------------------------------------
    Datepicker nav
   ------------------------------------------------- */

.datepicker-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--adp-nav-border-color);
  min-height: var(--adp-nav-height);
  padding: var(--adp-padding);

  .-only-timepicker- & {
    display: none;
  }
}
.datepicker-nav--title,
.datepicker-nav--action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

/*  Navigation action
   ------------------------------------------------- */

.datepicker-nav--action {
  width: var(--adp-day-cell-width);
  border-radius: var(--adp-border-radius);
  user-select: none;

  &:hover {
    background: var(--adp-background-color-hover);
  }

  &:active {
    background: var(--adp-background-color-active);
  }

  &.-disabled- {
    visibility: hidden;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  path {
    fill: none;
    stroke: var(--adp-nav-arrow-color);
    stroke-width: 2px;
  }
}

/*  Navigation title
   ------------------------------------------------- */

.datepicker-nav--title {
  border-radius: var(--adp-border-radius);
  padding: 0 8px;

  i {
    font-style: normal;
    color: var(--adp-nav-color-secondary);
    margin-left: .3em;
  }

  &:hover {
    background: var(--adp-background-color-hover);
  }

  &:active {
    background: var(--adp-background-color-active);
  }

  &.-disabled- {
    cursor: default;
    background: none;
  }
}


